includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app
        - bootstrap
        - config
        - database
        - resources/views
        - routes
        - tests
    # The level 9 is the highest level
    level: 2

    ignoreErrors:
        - '#PHPDoc tag @var#'
        - '#Undefined variable: \$this#'
    reportUnmatchedIgnoredErrors: false

    excludePaths:
        - ./*/*/FileToBeExcluded.php

    checkMissingIterableValueType: false
